@page
@model LinkShortener.Pages.Register

@{
    Layout = "_Layout";
    ViewBag.Title = "Registration";
}

<form method="post" class="m-auto mt-sm-5 mt-3" style="width: 300px;">
    <p class="text-center fs-3">Регистрация</p>
    <div class="mb-2">
        <input type="text" placeholder="Имя пользователя" name="name" id="name" class="form-control" required/>
    </div>

    <div class="mb-2">
        <input type="email" placeholder="Email" name="email" id="email" class="form-control" required/>
    </div>

    <div class="mb-2">
        <input type="password" placeholder="Пароль" name="password" id="password" class="form-control" required/>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary w-100 mx-auto d-block"/>
    </div>
    <div>
        <a href="/login" class="btn mx-auto d-block">Авторизоваться</a>
    </div>
    @if (TempData["RegistrationMessage"] != null)
    {
        <p class="text-danger mt-2">@TempData["RegistrationMessage"]</p>
    }
</form>